.vscode/
data/raw/
data/datasets/
data/outros/

research/.ipynb_checkpoints/
data/bolsoanta/
**/__pycache__/
data/ChihuahuaDoTrump/
checkpoint/
models/waveglow/waveglow_256channels_universal_v5.pt
models/synthesizer/trained/*
wandb/
